.message-list {
  display: flex;
  flex-direction: column;
  background: #eef1f5;
  height: 71%;
  width: calc(100% - 40px);
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .message-list {
    height: 85%;
  }
}

@media screen and (max-width: 555px) {
  .message-list {
    margin-bottom: 0;
  }
}

/* @media screen and (max-width: 414px) and (max-height: 896px) {
  .message-list {
    height: 85%;
  }
}

@media screen and (max-width: 320px) {
  .message-list {
    height: 78%;
  }
} */
